extends layout

block content
  .container.theme-showcase
      // Main jumbotron for a primary marketing message or call to action
      .jumbotron
        h1 Welcome to #{title}!
        p
          | Welcome to NoteTakr! It's not quite working yet but we're working on it!
        p
          a(href='/auth/facebook').btn.btn-primary.btn-lg Sign in with Facebook »